<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,266},{64,40}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{64,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,224},{66,40}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,50}}</string>
                <key>sourceSize</key>
                <string>{126,50}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,157},{40,70}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{50,126}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{38,76}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,49},{38,76}}</string>
                <key>sourceSize</key>
                <string>{50,126}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,154},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{64,42}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,42}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,89},{66,46}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{66,46}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,267},{58,39}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{58,39}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{58,37}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{98,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,85}}</string>
                <key>sourceSize</key>
                <string>{98,85}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{88,65}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{88,65}}</string>
                <key>sourceSize</key>
                <string>{98,85}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,89},{86,63}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,63}}</string>
                <key>sourceSize</key>
                <string>{98,85}</string>
            </dict>
            <key>boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,199},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{358,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,20}}</string>
                <key>sourceSize</key>
                <string>{358,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruit.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8da60c8f61a1d60c65d3455a4c855f3:763a2197a0aa1d1c0bb483fd11820f86:61ebfeb4a02f55db7ab45fc9c5d0ca36$</string>
            <key>textureFileName</key>
            <string>fruit.png</string>
        </dict>
    </dict>
</plist>
