<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NO-10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1818},{158,98}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,135},{158,98}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{206,146}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,103},{206,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1572},{244,178}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,82},{244,178}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{280,216}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{280,216}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,220},{312,256}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,47},{312,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1228},{342,296}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,29},{342,296}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,882},{344,296}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,29},{344,296}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,534},{346,298}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,29},{346,298}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,944},{348,302}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{348,302}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{350,304}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{350,304}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{354,306}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{354,306}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,632},{356,310}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{356,310}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,318},{358,312}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{358,312}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{360,314}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{360,314}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,314}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{362,314}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>NO-10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{360,314}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{360,314}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>star.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c06435cf057b7b9b6e84be46e930aef:1/1$</string>
            <key>textureFileName</key>
            <string>star.png</string>
        </dict>
    </dict>
</plist>
